.vim/bundle/*
.vim/bundle/*.*
.vim/bundle/**/*
.vim/bundle/**/*.*
.vim/bundle/**/**/*
.vim/bundle/**/**/*.*
.vim/bundle/**/**/*
.vim/bundle/**/**/*.*
.vim/bundle/**/**/**/*
.vim/bundle/**/**/**/*.*
.vim/bundle/**/**/**/**/*
.vim/bundle/**/**/**/**/*.*
.vim/spell/*
.vim/.netrwhist
